[submodule "remote/cdvae"]
	path = remote/cdvae
	url = git@github.com:bkmi/cdvae.git
[submodule "remote/riemannian-fm"]
	path = remote/riemannian-fm
	url = git@github.com:facebookresearch/riemannian-fm.git
[submodule "remote/DiffCSP-official"]
	path = remote/DiffCSP-official
	url = git@github.com:bkmi/DiffCSP-official.git
